* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Helvetica;
    background-color: #8E8EBE;
}

.navBar {
    overflow: hidden;
    background-color: #325DC1;
    font-family: Helvetica;
    border-radius: 80px 80px;
    border-width: 2px;
    margins: 2px 5px 0px 5px;
    position: fixed;
}

.navBar a {
    float: left;
    font-size: 16px;
    color: white;
    border-style: solid;
    border-radius: 80px 80px;
    border-color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.4s;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    border-style: solid;
    border-radius: 80px 80px;
    border-color: black;
    background-color: inherit;
}

.navBar a:hover,
.dropdown:hover .dropbtn {
    background-color: #0ADE59;
    color: black;
}

.dropDC {
    display: none;
    position: absolute;
    background-color: #325DC1;
    min-width: 160px;
    margin: 4px 0px 0px 0px;
    z-index: 1;
}

.dropDC a {
    float: none;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropDC a:hover {
    background-color: #0ADE59;
}

.show {
    display: block;
}

.navImg {
    width: 20px;
    height: 20px;
    margin: 0px 5px 0px 0px;
}

.active {
    background-color: #FF512C;
}

.navBar a:active {
    background-color: #FF512C;
}

.header {
    background-color: #5f8aef;
    text-transform: capitalize;
    text-align: center;
    color: #0ade59;
    padding: 10px 0px 10px 0px;
	margin: 5px 0px 0px;
}
